* (
	margin: 0;
	  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
)

html, body {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

h1, h2, h3, h4, p {
	margin-bottom: 20px;	
}

nav {
	margin: 0;
	padding: 0;
	position: fixed ;
	width: 100%;
	height: 50px;
	background-color: grey;
	z-index: 999;
	font-size: 18;
	text-align: center;
	
	z-index: 999;

}
nav a {
font-family: Proxima Nova Regular,serif;
	text-decoration:none;
	 text-transform: uppercase;
	margin:50px;
	line-height:50px;
	color: white;	
	transition: 0.5s;	
	padding: 20px;
}

nav a:hover {background-color: rgba(225,225,225,.5); color:black; }

.subSection {
	width: 100%;
	height: 70px;
	background-color:gray;
}

.sect {
	
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#sectOne  {
	
	background-image: url("../images/background1.jpeg");
	
}
#sectTwo{
	
	background-image: url("../images/aboutbw.jpg");
}
#sectThree {
	
	background-image: url("../images/");
}

#sectFour{
	
	background-image: url("../images/interestbw.jpg");
}

#arthome {
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	position: absolute;	
	background-color: rgba(225,225,225,.8);
	color: black;
	width: 450px;
	height: 500px;
	text-align: center;
	font-family: Proxima Nova Regular,serif;
    font-weight: 500;
    font-style: normal;
	font-size: 18px;
	padding: 30px;
	line-height: 30px;

}

#artabout {
	margin-top: 75px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 100px;
	position: absolute;
	float:right;
	background-color: rgba(225,225,225,.8);
	color: black;
	width: 650px;
	height: 500px;
	text-align: center;
	left: 450px;
	font-family: Proxima Nova Regular,serif;
    font-weight: 500;
    font-style: normal;
	font-size: 18px;
	padding: 30px;
	line-height: 30px;
}

#artportfolio{
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	position: absolute;	
	background-color: rgba(225,225,225,.8);
	color: black;
	width: 650px;
	height: 450px;
	text-align: center;	
	font-family: Proxima Nova Regular,serif;
    font-weight: 500;
    font-style: normal;
	font-size: 18px;
	padding: 30px;
	line-height: 30px;
	
}
#artfour {
	margin-top: 100px;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	position: absolute;
	float:right;
	background-color: rgba(225,225,225,.8);
	color: black;
	width: 650px;
	height: 500px;
	text-align: center;
	font-family: Proxima Nova Regular,serif;
    font-weight: 500;
    font-style: normal;
	font-size: 18px;
	padding: 30px;
	line-height: 30px;
	overflow: scroll;
	left: 400px;

}

#myPicture {
	height: 550px;
	width: 500px; 
	
	float: right;
	margin-top: 100px;

	margin-right: 100px;
}

#intPicture {
	height: 220px;
	width: 300px; 
	margin-top: 100px;
	margin-left: 75px;
	float: left;	
}

#portPicture {
	margin-top: 150px;
	margin-right: 75px;
	height: 300px;
	width: 400px; 
	float: right;
	top: 100px;
	right: 75px;
}

#mySignature {
	height: 80px;
	margin-top: 45px;
	
}

@media screen and (max-width: 500px) {
	nav {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	    transform: scale(1);
    background-size: cover;
    background-position: center center
	}
}

@media screen and (max-width: 480px){
  nav{
    width: 100%;
    margin: 0 0 5px 0;
  }

  nav a{
    margin: 0;
    padding: 14px 0 14px 0;
  }
}